# Supabase Configuration
VITE_SUPABASE_URL=https://qomqqweftwzppiixywzb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFvbXFxd2VmdHd6cHBpaXh5d3piIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg5NDk2MzQsImV4cCI6MjA5NDUyNTYzNH0.Jd9dcUrbzhosqrwsDC2oKLYnIELo5TgFSUVohq6gVJE
